<!-- START PAGE SIDEBAR -->
   <div class="page-sidebar">
       <!-- START X-NAVIGATION -->
       <ul class="x-navigation x-navigation-minimized">
           <li class="xn-logo">
               <a href="index.html">Corplinkz</a>
               <a href="#" class="x-navigation-control"></a>
           </li>
           <li class="xn-title">Industries</li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-lightbulb-o"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-code-fork"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-book"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-flask"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-cutlery"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-pagelines"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-rocket"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>
           <li class="xn-openable">
               <a href="#"><span class="fa fa-bolt"></span> <span class="xn-text">Technology</span></a>
               <ul>
                   <li><a href="#">Information Technology</a></li>
               </ul>
           </li>

       </ul>
       <!-- END X-NAVIGATION -->
   </div>
<!-- END PAGE SIDEBAR -->