.page-content-wrap{
	
	.header-hlr{
		max-height:300px;
		min-height:100px;
		overflow:hidden;
		position:relative;
		.header-title{
			position:absolute;
			bottom:0px;
			left:0px;
			background-color:rgba(0,0,0,0.4);
			padding:8px 12px;
			color:#fff;
			margin:0px;
		}
		
		.sponsered-hlr{
			position:absolute;
			bottom:0px;
			right:0px;
			ul{
				list-style:none;
				margin:0px;
				float:right;
				padding: 0px;
				li{
					float:right;
					color:#fff;
					margin-right:4px;
					margin-bottom:4px;
					img{
						width:40px;
					}
				}
			}
			span{
				color: #fff;
				font-weight: bold;
				margin-right: 5px;
				bottom: 0px;
			}
		}
	}
	
	.content-slider{
		&.content-slider-video{
			background-color:#fff;
		}
		.slider-title{
			padding:5px 2px;
			margin:0px;
		}
		
		.slider-wrapper{
			
			.slider-container{
				border-top:1px solid #efefef;
				position:relative;
				overflow:hidden;
				
				.slider-btn{
					display: table;
					position:absolute;
					text-align:center;					
					height:100%;
					width:25px;
					top:0px;
					
					cursor:pointer;
					
					i{
						display: table-cell;
  						vertical-align: middle;
					}
					&:hover{
						background-color:#006fb0;
						color:#fff;
					}
				}
				
				.slider-btn-left{
					left:0px;
					
				}
				
				.slider-btn-right{
					right:0px;
				}
				
				&.slider-news{
					height:150px;
					.slide-holder{
						-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
						box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
					}
				}
				
				&.slider-videos{
					height:200px;
				}
				
				.slide-holder{
					padding-left:25px;
					padding-right:25px;
					overflow:hidden;
					width: calc(100% - 25px);
					
					.slides-box{
						width:200%;
						
						.slide{
							float:left;
							position: relative;
							overflow:hidden;
							
							&.slide-video{
								padding-top:10px;
								padding-bottom:10px;
								padding-right:10px;
							}
							
							.slide-hlr{
								position:relative;
							}
							
							.image-hlr{
								width:314.8px;
								height:179px;
								img{
									width:100%;
									height:100%;
								}
							}
							.hover-title{
								width: 100%;
								padding: 5px 8px;
								position: absolute;
								bottom: -10px;
								background-color: rgba(0, 0, 0, 0.4);
								color: #fff;
								font-weight: bolder;
							}
							
							.overlay{
								position:absolute;
								width:100%;
								height:100%;
								top:0px;
								background-color:rgba(0,0,0,0.4);
								opacity: 0;
								-webkit-transition:         all 1.1s ease-in-out;
							  	-moz-transition:            all 1.1s ease-in-out;
							  	-ms-transition:             all 1.1s ease-in-out;
							  	-o-transition:              all 1.1s ease-in-out;
							  	transition:                 all 1.1s ease-in-out;
								
								&:hover{
	                                opacity: 1;
								}
							}
							&.slide-news{
								width:300px;
								height:150px;
								background-color:#fff;
								margin-right:5px;
								-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
								-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
								box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
								.news-title{
									padding: 8px 10px;
									font-weight:bolder;
								}
								.news-body{
									height:66px;
									overflow:hidden;
									padding-right:4px;
									p{
										text-align: justify;
									}
									img{
										width:80px;
									}
								}
								.readmore{
									text-align:right;
									padding: 8px 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}