/* General Styles
----------------------------------------------------------------------------------------------------*/
#loginwrapper {	
	padding: 70px 0 0 0px;
	height: 100%;
}
#loginwrapper {
	width: 350px;
	margin:auto;
	position: relative;
}

#wrappertop {
	background:url(../images/login/wrapper_top.png) no-repeat;
	height:22px;
}

#wrappermiddle {
	background:url(../images/login/wrapper_middle.png) repeat-y;
	height:240px;
}

#wrapperbottom {
	background:url(../images/login/wrapper_bottom.png) no-repeat;
	height:22px;
}

#loginwrapper h2 {
	margin-left:20px;
	margin-top:0px;
	font-size:20px;
	font-weight:bold;
	font-family:Myriad Pro;
	text-transform:uppercase;
	position:absolute;
	text-shadow: #fff 2px 2px 2px;
}

#loginwrapper .messagebox{
	position: absolute;
	top: 110px;
	left: 25px;
}

#loginwrapper .messagebox .alert-danger{
	color:red;
}

#loginwrapper .messagebox .alert-success{
	color:green;
}

#loginwrapper #username_input {
	margin-left:25px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:40px;
}

#loginwrapper #username_input input:focus{
	border-color:#fff !important;
	border:0px solid red;
}

#loginwrapper #username_inputleft {
	float:left;
	background:url(../images/login/input_left.png) no-repeat;
	width:12px;
	height:50px;
}

#loginwrapper #username_inputmiddle {
	float:left;
	background:url(../images/login/input_middle.png) repeat-x;
	width:276px;
	height:50px;
}

#loginwrapper #username_inputright {
	float:left;
	background:url(../images/login/input_right.png) no-repeat;
	width:12px;
	height:50px;
}

#loginwrapper #url{
	display:block;
	width:276px;
	height:45px;
	background:transparent;
	border:0;
	color:#bdbdbd;
	font-family:helvetica, sans-serif;
	font-size:14px;
	padding-left:20px;
}

#loginwrapper #url_user {
	position:absolute;
	display:block;
	margin-top:-28px;
	float:left;
	padding-right:10px;
}

#loginwrapper #password_input {
	margin-left:25px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:100px;
}

#loginwrapper #password_inputleft {
	float:left;
	background:url(../images/login/input_left.png) no-repeat;
	width:12px;
	height:50px;
}

#loginwrapper #password_inputmiddle {
	float:left;
	background:url(../images/login/input_middle.png) repeat-x;
	width:276px;
	height:50px;
}

#loginwrapper #password_inputright {
	float:left;
	background:url(../images/login/input_right.png) no-repeat;
	width:12px;
	height:50px;
}

#loginwrapper #url_password {
	display:block;
	position:absolute;
	margin-top:-32px;
	float:left;
	margin-left:4px;
}

#loginwrapper #submit{
	float:left;
	position:relative;
	padding:0;
	margin-top:160px;
	margin-left:25px;
	width:300px;
	height:40px;
	border:0;
}

#loginwrapper #submit #submit1 {
	position:absolute;
	z-index: 10;
	border:0;
}

#loginwrapper #submit #submit2 {
	position:absolute;
	margin-top:0px;
	border:0;
}

#loginwrapper #links_left{
	float:left;
	position:relative;
	padding-top:5px;
	margin-left:25px;
}

#loginwrapper #links_left a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}

#loginwrapper #links_left a:hover{
	color:#292929;
}

#loginwrapper #links_right{
	float:right;
	position:relative;
	padding-top:5px;
	margin-right:25px;
}

#loginwrapper #links_right a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}

#loginwrapper #links_right a:hover{
	color:#292929;
}

#loginwrapper #powered{
	float:right;
	position:relative;
	padding-top:3px;
	margin-right:5px;
	font-size:11px;
}

#loginwrapper #powered a{
	color:#aaa;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}

#loginwrapper #powered a:hover{
	color:red;
}