// colors
$header-background: #fff;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;
