<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="trace-path">D:/logs/corptrace</Property>
        <Property name="error-path">${sys:catalina.home}/corperror</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/> -->
            <PatternLayout pattern="%d %5p (%F:%M():%L) - %m%n"/>
        </Console>
        <RollingFile name="trace-log" fileName="${trace-path}.log"
                     filePattern="${trace-path}-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d %5p %c{1} [%t] (%F:%M():%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <!-- <RollingFile name="error-log" fileName="${error-path}.log"
                     filePattern="${error-path}-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d %5p %c{1} [%t] (%F:%M():%L) - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile> -->
    </Appenders>
    <Loggers>
        <Logger name="com.app" level="debug" additivity="false">
            <appender-ref ref="trace-log" level="debug"/>
            <!-- <appender-ref ref="error-log" level="error"/> -->
            <!-- <appender-ref ref="console-log" level="debug"/> -->
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="trace-log" level="debug"/>
        </Root>
    </Loggers>
</Configuration>