<!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <!-- TOGGLE NAVIGATION -->
        <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <!-- END TOGGLE NAVIGATION -->
        <!-- SEARCH -->
        <li class="xn-search">
            <form role="form">
                <input type="text" name="search" placeholder="Search..."/>
            </form>
        </li>   
        <!-- END SEARCH -->                                     
        
        <li class="xn-icon-button pull-right">
			<a data-toggle="dropdown" href="#" class="dropdown-toggle" style="padding:14px 10px !important;">
				<img class="nav-user-photo" src="app/images/theme/auther-icon.png" alt="">
				<span class="user-info">
					<small>Vikas Kumar</small>
				</span>
				<i class="ace-icon fa fa-caret-down"></i>
			</a>
            <ul class="xn-drop-left animated zoomIn">
                <li><a href="pages-lock-screen.html"><span class="fa fa-lock"></span> Lock Screen</a></li>
                <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
            </ul> 
		</li>
    </ul>
<!-- END X-NAVIGATION VERTICAL --> 