<side-bar></side-bar>
<div class="page-content">
	<header-dir ></header-dir>

	<div class="page-content-wrap">
		<div class="row">
			<div class="header-hlr">
				<img src="app/images/default-images/header.jpg" style="width:100%;">
				<h2 class="header-title">Technology</h2>
				<div class="sponsered-hlr">
					<span>Sponsored by</span>
					<ul>
						<li><img src="app/images/default-images/wfmedia.jpg"></></li>
						<li><img src="app/images/default-images/nasa.png"></></li>
						<li><img src="app/images/default-images/dell.png"></></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top:10px;">
			<div class="content-slider content-slider-video">
				<h2 class="slider-title">Trending</h2>
				<div class="slider-wrapper">
					<div class="slider-container slider-videos">
						<div class="slide-holder">
							<div class="slides-box">
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img2.png" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img3.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img2.png" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img3.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="slider-btn slider-btn-left">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="slider-btn slider-btn-right">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row" style="margin-top:10px;">
			<div class="content-slider">
				<div class="slider-wrapper">
					<div class="slider-container slider-news">
						<div class="slide-holder">
							<div class="slides-box">
								<div class="slide slide-news">
									<p class="news-title">News 1</p>
									<div class="row news-body">
										<img src="app/images/default-images/nasa.png" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 2</p>
									<div class="row news-body">
										<img src="app/images/default-images/dell.png" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 3</p>
									<div class="row news-body">
										<img src="app/images/default-images/wfmedia.jpg" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 1</p>
									<div class="row news-body">
										<img src="app/images/default-images/nasa.png" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 2</p>
									<div class="row news-body">
										<img src="app/images/default-images/dell.png" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 5</p>
									<div class="row news-body">
										<img src="app/images/default-images/wfmedia.jpg" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 1</p>
									<div class="row news-body">
										<img src="app/images/default-images/nasa.png" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 2</p>
									<div class="row news-body">
										<img src="app/images/default-images/dell.png" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
								<div class="slide slide-news">
									<p class="news-title">News 3</p>
									<div class="row news-body">
										<img src="app/images/default-images/wfmedia.jpg" align="left"/>
										<p>Any single item, which exceeds 158 cms in total dimensions is subject to an oversize charge of USD 150 per bag or piece This fee is applicable for international journeys (except flights from London) under both weight and piece concept. For flights departing from London, an oversize charge of GBP 150 per piece will apply.</p>
									</div>
									<p class="readmore">Read more</p>
									<div class="overlay"></div>
								</div>
							</div>
						</div>
						<div class="slider-btn slider-btn-left">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="slider-btn slider-btn-right">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row" style="margin-top:10px;">
			<div class="content-slider content-slider-video">
				<h2 class="slider-title">Trending</h2>
				<div class="slider-wrapper">
					<div class="slider-container slider-videos">
						<div class="slide-holder">
							<div class="slides-box">
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img2.png" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img3.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img2.png" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img3.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="slider-btn slider-btn-left">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="slider-btn slider-btn-right">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top:10px;">
			<div class="content-slider content-slider-video">
				<h2 class="slider-title">Trending</h2>
				<div class="slider-wrapper">
					<div class="slider-container slider-videos">
						<div class="slide-holder">
							<div class="slides-box">
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img2.png" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img3.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img2.png" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img3.jpg" />
										</div>
										<p class="hover-title">Aaditi Kohla puri</p>
										<div class="overlay"></div>
									</div>
								</div>
								<div class="slide slide-video">
									<div class="slide-hlr">
										<div class="image-hlr">
											<img src="app/images/default-images/img1.jpg" />
										</div>
										<p class="hover-title">Gabriella Sharma</p>
										<div class="overlay"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="slider-btn slider-btn-left">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="slider-btn slider-btn-right">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>	
</div>
<basicjavascript></basicjavascript>